.App {
  text-align: center;
  min-height: 100vh;
  /* border-style: dotted; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

.titleUp {
  float: inline-start;
  text-align: center;
  width: 50%;
}

/*
.titleLeft {
  float: left;
  border-style: dotted;
  position: absolute;
  width: auto;
  transform: rotate(270deg);
   
}
*/

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  /* height: 100%;
  max-height: 99vh; */
}
.grid-item {
  flex: 1 1 calc(50% - 25px);
  background: #F90;
  border-top: solid 1px #000;
}
.grid-item:nth-child(1) {
  background: #F00;
}
.grid-item:nth-child(2) {
  background: rgb(254, 183, 58);
}
.grid-item:nth-child(3) {
  background: rgb(89, 255, 38);
}
.grid-item:nth-child(4) {
  background: rgb(255, 251, 10);
}

.taskText {
  margin-right: 10px;
  font-size: 1.1rem;
}

ol {
  list-style-type: none;
}

li {
  list-style-type: none;
}